# Core functionality - changes here should be rare!
/src/app.py                   @duzhxin-kt
/src/backend/database.py      @duzhxin-kt
/src/backend/routers/auth.py  @duzhxin-kt

# The frontend will need refactored soon to be more object oriented.
/src/static/   @duzhxin-kt
